<div class="container">
  <h1 class="mt-4">My bookings</h1>

          <h2><%#= @bike.bike_name %></h2>
        <p><%#= @bike.bike_description %></p>

    <div class="card-booking">
<!--       <img src="https://images.unsplash.com/photo-1516045827954-c625663e0dc7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJpa2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" />
 -->      <div class="card-booking-text">
        <h2><%#= @bike.bike_name %></h2>
        <p><%#= @bike.bike_description %></p>
      </div>
<!--       <div class="card-booking-info">
        <p><%#= @booking.booking_date %> </p>
        <p><%#= @booking.end_date %></p>
        <p><%#= @booking.status %></p>
      </div> -->
    </div>

</div>
