<h1>All Bikes</h1>

<div class="card-product">
  <div class="card-product-infos">
    <p><% @bikes.each do |bike| %>
      <%= bike.bike_name  %>
      <%= bike.bike_description  %>
      <%= bike.price  %>
      <% end %>
    </p>
  </div>
</div>


