.banner {
  background-image: asset_url('girls_home_banner.jpg');
  background-size: cover;
  height: 750px;
  background-position: center;
  color: #ec2660;
  padding: 70px 0;
  margin-bottom: 20px;
}

.banner-bikes {
  background-size: cover;
  height: 450px;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-show {
  height: 450px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.banner h1 {
  font-weight: bolder;
}

.banner p {
  opacity: 1;
  font-size: 18px;
  margin-bottom: 30px;
}


