.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  height: 750px;
  background-position: center;
  color: white;
  padding: 70px 0;
  margin-bottom: 20px;
}

.banner-bikes {
  background-size: cover;
  height: 450px;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-show {
  height: 450px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.banner h1 {
  font-weight: bolder;
}

.banner p {
  opacity: 1;
  font-size: 18px;
  margin-bottom: 30px;
}


