.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-sign-up {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-sign-up:hover {
  background: #1BCB7F;
  color: white;
}

.btn-sign-in {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #ec2660;
  transition: background 0.3s ease;
}

.btn-sign-in:hover {
  background: #ec2660;
  color: white;
}

.btn-home {
  display: inline-block;
  padding: 10px 28px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #c70039;
  color: white;
  font-size: 18px;
  transition-duration: 0.4s;
}

.btn-home:hover {
  background-color: #2F4F60;
  color: #ffffff;
  text-decoration: none;
}

.btn-booking {
  color: white;
  padding: 14px 28px;
  border-radius: 8px;
  background: #ec2660;
  width: 100%;
  justify-content: center;
  transition: background 0.3s ease;
    :hover {
    background: #ec2660;
    color: white;
  }
}

.btn-home-2 {
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #2F4F60;
  box-shadow: #2F4F60 0px 2px 2px;
  transition-duration: 0.4s;
  width: 120px;
}

.btn-home-2:hover {
  background-color: #2F4F60;
  text-decoration: none;
  color: #ffffff;
}

.btn-search {
  border-radius: 8px;
  transition-duration: 0.4s;
}

.btn-search:hover {
  background-color: #2F4F60;
  text-decoration: none;
  color: #ffffff;
}
