.mapboxgl-popup {
  max-width: 180px !important;
  margin-bottom: -2rem;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 15px !important;
  border-radius: 8px !important;
  opacity: 0.95;

}
