.navbar-rentnride {
  justify-content: space-between;
  background: white !important;
  opacity: 1;
}

.navbar-rentnride .navbar-collapse {
  flex-grow: 0;
}

.navbar-rentnride .navbar-brand img {
  width: 50px;
}


.navbar-rentnride {
  // [...]
  background-color: transparent;
  transition: 0.5s background-color ease;
}

